
<%- include('partials/header') -%> 

<h1>Home</h1>
<p> <%= homeStartingPoint %>  </p>


<!-- Foor loop -->

<!-- <%# for(var i = 0 ; i< posts.length ; i++){ %> -->
    <!-- <h1> <%#=posts[i].title %></h1>
    <p> <%#= posts[i].post %> </p> -->
    <!-- <%# console.log("tagreed"+posts[i].title) %>  -->
<!-- <%# } %>  -->
<!-- -------------------------------------------- -->
<!-- For Eeach Method -->

<%# posts.forEach((item)=>{ %> 
    <%# console.log(item.title) %>   
 <%# })%>
<!-- ----------------------------------------- -->

<!-- Now reveal the posts in home page -->
<% posts.forEach((post)=>{%>
    <h1><%= post.title %></h1>
    <% var str = post.post %>
    <% var res = str.substring(0, 100);%>
    <p> <%= res %> .. <a href="/posts/<%= post.title %> ">Read More</a> </p>
<% }) %> 
<%- include('partials/footer') -%>


